{{#link-to 'gallery' content}}
  <div class='image-item'>
    <div class='image-thumb'>
      <img {{bind-attr src=content.image.url}}>
    </div>
    {{#if isHovering}}
      <div class='image-details'>
        <div class='image-comment'>
          <div class='comment-count'>{{commentsCount}} comments</div>
        </div>
      </div>
    {{/if}}
  </div>
{{/link-to}}
