html, body {
  margin: 0px;
}

body {
  font-family: 'Arial', sans-serif;
  background: url('http://s.imgur.com/images/main-bg.png') top center no-repeat;
  background-color: #121211;
  color: #fff;
}

header {
  font-size: 36px;
  font-weight: 800;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #2b2b38;
  width: 100%;
  -webkit-box-shadow: rgb(17, 17, 17) 0px 0px 11px 1px;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.container {
  -webkit-box-shadow: rgb(17, 17, 17) 0px 0px 11px 1px;
  width: 90%;
  margin: auto;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 10px;
}

.image-item {
  float: left;
  position: relative;
  height: 180px;
  width: 180px;
  margin-left: 4px;
  margin-right: 4px;
  padding-right:2px;
  padding-bottom: 2px;
  border: 4px solid #ddddd1;
}

.image-item:hover {
  border: 4px solid #FF6B6B;
}

.image-thumb img {
  position: absolute;
  clip: rect(-20px 180px 180px 0px);
  height: 250px;
}
