html, body {
  margin: 0px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: url('http://s.imgur.com/images/main-bg.png') top center no-repeat;
  background-color: #121211;
  color: #fff;
}

header {
  font-size: 36px;
  font-weight: 800;
  padding-left: 20px;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #2b2b2b;
  width: 100%;
  height: 67px;
  -webkit-box-shadow: rgb(17, 17, 17) 0px 0px 11px 1px;
}

header .fa-circle {
  color: rgb(242, 56, 24);
  border-radius: 10px;
  padding: 8px;
}

header a {
  position: absolute;
  top: 0;
  left: 12px;
  padding: 8px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

header a:hover {
  background-color: #444442;
}

.clear {
  clear: both;
}

.container {
  width: 1000px;
  margin: auto;
}

.main-container {
  -webkit-box-shadow: rgb(17, 17, 17) 0px 0px 11px 1px;
  background-color: #2b2b2b;
  padding: 18px;
  border-radius: 10px;
  clear: both;
}

.image-item {
  float: left;
  position: relative;
  height: 180px;
  width: 180px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 3px solid #ddddd1;
  overflow: hidden;
}

.image-item:hover {
  border: 3px solid #FF6B6B;
}

.image-thumb img {
  position: absolute;
  /*clip: rect(-40px 180px 180px -20px);*/
  height: 250px;
  margin: auto;
}

.image-details {
  z-index: 5;
}

.image-comment {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  vertical-align: bottom;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.88) 12%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,0.61) 39%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.49) 51%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.24) 76%, rgba(0,0,0,0.09) 91%, rgba(0,0,0,0) 100%);
}

.comment-count {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: rgba(255,255,255,.8);
  font-weight: 600;
}

.gallery-container,
.gallery-navigation {
  float: left;
  -webkit-box-shadow: rgb(17, 17, 17) 0px 0px 11px 1px;
  background-color: #2b2b2b;
  padding: 18px;
  border-radius: 10px;
}

.gallery-container {
  width: 670px;
}

.gallery-navigation {
  width: 300px;
  margin-left: 8px;
  margin-bottom: 10px;
}

.gallery-full {
  width: 670px;
  margin: auto;
}

.gallery-title {
  color: #ddddd1;
  font-size: 24px;
  line-height: 36px;
  text-shadow: 1px 1px 1px #222;
  margin-top: -10px;
  margin-bottom: 8px;
}

.gallery-posted {
  color: #999;
  margin-bottom: 10px;
  font-size: 18px;
}

.gallery-image,
.gallery-image img {
  width: 634px;
}

.comment-new {
  margin-top: 8px;
}

.comment-new textarea {
  height: 70px;
  width: 534px;
  color: #fff;
  font-size: 16px;
  float: left;
  background-color: #121211;
  border: 1px solid #444442;
  resize: none;
}

.comment-new textarea:focus {
  background-color: #262E3B;
  border-color: #C29F37;
  box-shadow: 0 0 3px 0 #C29F37;
  outline: 0 none;
}

.comment-new input {
  background-color: #121211;
  width: 634px;
  margin: auto;
  color: #888;
  padding: 5px 7px 5px 4px;
  font-size: 16px;
  border: 1px solid #444442;
}

.comment-button-container {
  float: left;
  margin-left: 5px;
}

.save-button {
  cursor: pointer;
  background: linear-gradient(to bottom,rgba(35,35,35,1) 0,rgba(18,18,17,1) 100%);
  line-height: 35px;
  border-radius: 4px;
  width: 95px;
  height: 40px;
  border: 2px solid #444442;
  text-align: center;
  font-size: 18px;
  color: #ddddd1;
}

.save-button:hover {
  border: 2px solid #444442;
  background: linear-gradient(to bottom,rgba(48,48,48,1) 0,rgba(18,18,17,1) 100%)
}

.comment-length {
  margin: 5px 0 0 5px;
  color: #888;
  font-size: 20px;
  font-weight: 800;
}
