<div class='gallery-container'>
  <div class='gallery-full'>
    <div class='gallery-title'>{{title}}</div>
    <div class='gallery-posted'>{{postedFormated}}</div>
    <div class='gallery-image'>
      <img {{bind-attr src=image.url}}>
    </div>
  </div>

  <div class='gallery-comments'>
  </div>
</div>
<div class='gallery-navigation'></div>
